<html>
  <head>
    <title>Full Stack</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script>
      document.onreadystatechange = () => 
      {
         if(document.readyState === 'interactive')
         {
            document.getElementById('userAgent').value = window.navigator.userAgent
            document.getElementById('userDate').value = new Date()
            console.log('ola', window.navigator.userAgent)
         }
      }
    </script>
  </head>

  <body>
        <nav class="navbar navbar-light bg-light">
          <a class="navbar brand" href="#">BugTracker</a>
        </nav>

        <div class="container">
            <h1>Ferramenta de relatos de bugs</h1>

            <form method="post">

                <div class="form-group">
                  <label for="name">Nome:</label>
                  <input type="text" name="name" id="name" class="form-control"/>
                </div>    

                <div class="form-group">
                  <label for="email">E-mail:</label>
                  <input type="email" name="email" id="email" class="form-control"/>
                </div>  
               
                
                <div class="form-group">
                  <label for="issueType">Classificacao:</label>
                    <SELECT id="issueType" name="issueType" class="form-control">
                        <OPTION VALUE="">selecione</OPTION>
                        <OPTION VALUE="bug">bug</OPTION>
                        <OPTION VALUE="critical">critical</OPTION>
                        <OPTION VALUE="failure">failure</OPTION>
                        <OPTION VALUE="melhoria">melhoria</OPTION>
                    </SELECT>
                 </div>   

                <div class="form-group">
                  <label for="howToReproduce">Como reproduzir o erro?</label>
                  <input type="text" name="howToReproduce" id="howToReproduce" class="form-control"/>
                </div>  

                <div class="form-group">
                  <label for="expectedOutput">Qual a saida esperada?</label>
                  <textarea name="expectedOutput" id="expectedOutput" class="form-control">
                  </textarea>
                </div>  

                <div class="form-group">
                  <label for="receivedOutput">Qual a saida recebida?</label>
                  <textarea name="receivedOutput" id="receivedOutput" class="form-control">
                  </textarea>
                </div>  

                <input type="hidden" name="userAgent" id="userAgent"/>
                <input type="hidden" name="userDate" id="userDate"/>

            <button class="btn btn-primary">Enviar Solicitação</button>
        </form>
        </div>
  </body>
</html>
