<html>
  <head>
    <title>Full Stack</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script>
      document.onreadystatechange = () => 
      {
         if(document.readyState === 'interactive')
         {
            document.getElementById('userAgent').value = window.navigator.userAgent
            document.getElementById('userDate').value = new Date()
            console.log('ola', window.navigator.userAgent)
         }
      }
    </script>
  </head>

  <body>
        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="#">BugTracker</a>
        </nav>

        <div class="container">
            <div class="alert alert-success" role="alert">
                You problem was report sucess <a href="/">voltar</a>
            </div>
        </div>
   </body>
</html>        